.main-modal {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background: whitesmoke;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.main-modal div {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.main-modal div button {
  width: 100px;
  height: 30px;
  color: black;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  background: white;
  box-shadow: 4px 4px 8px 0px rgba(11, 19, 26, 0.2)
}

.main-modal div button:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
  color: rgba(0, 0, 0, 0.5);
}
.main-modal div input{
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin: 10px 0;
}