
.square-btn{
  cursor: pointer;
  background: #44425E;
  border: none;
  float: left;
  margin: 5px;
  padding: 0;
  width: 140px;
  height: 140px;
  text-align: center;
  font-size: 170px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 80px;
  color: #C4C4C4;
}

.square:focus {
  outline: none;
}