.main{
  width: 650px;
  height: 450px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin:0 auto;
  background: #545F7D;
}
.main-info{
  width: 150px;
  padding-left: 20px;
  font-size: 30px;
  color: white;
}
.main-info p{
  margin: 5px;
}
.main-info div{
  margin-top: 50px;
}
.main-field{
  width: 450px;
}
.main-field::after{
  position: absolute;
  left: 85px;
  top: 230px;
  clear: both;
  content: "";
  background: #A955C1;
  width: 450px;
  height: 10px;
  display: table;
  border: none;
  border-radius: 10px;
  transform: rotate(90deg)
}
.main-field::before{
  position: absolute;
  left: 10px;
  top: 305px;
  clear: both;
  content: "";
  background: #A955C1;
  width: 450px;
  height: 10px;
  display: table;
  border: none;
  border-radius: 10px;
}