.line-horizontal {
  position: absolute;
  left: 20px;
  width: 430px;
  height: 10px;
  background: #AF3D38;
  z-index: 100;
  border-radius: 5px;
  border-radius: 5px;
}

.line-vertical {
  position: absolute;
  width: 10px;
  height: 430px;
  top: 20px;
  background: #AF3D38;
  z-index: 100;
  border-radius: 5px;
}

.line-oblique-left {
  position: absolute;
  top: 230px;
  left: -65px;
  width: 600px;
  height: 10px;
  background: #AF3D38;
  z-index: 100;
  transform: rotate(45deg);
  border-radius: 5px;
}

.line-oblique-right {
  position: absolute;
  top: 230px;
  left: -65px;
  width: 600px;
  height: 10px;
  background: #AF3D38;
  z-index: 100;
  transform: rotate(-45deg);
  border-radius: 5px;
}