.field-row::after{
  position: absolute;
  left: -65px;
  top: 230px;
  clear: both;
  content: "";
  background: #A955C1;
  width: 450px;
  height: 10px;
  display: table;
  border: none;
  border-radius: 10px;
  transform: rotate(90deg)
}
.field-row::before{
  position: absolute;
  left: 10px;
  top: 155px;
  clear: both;
  content: "";
  background: #A955C1;
  width: 450px;
  height: 10px;
  display: table;
  border: none;
  border-radius: 10px;
}